<footer class="footer" role="contentinfo">
	<div class="container">
        <p>
            <i class="fa fa-heart animated infinite pulse"></i>友情链接：<a href="http://lijiyun.cc/">lijiyun</a>, <a href="http://suwenhao.com/">suwenhao</a>, <a href="http://aifeiyy.com/">xufei</a>
        </p>
		<p class="copyright">Copyright &copy; 2016-{{ site.time | date: '%Y' }} <a href="{{site.resume_site}}"><code>{{ site.author }}</code></a>. <span class="my-face">(●'◡'●)ﾉ♥</span> <span id="busuanzi_container_page_pv">本文总阅读量<code id="busuanzi_value_page_pv"></code>次</span></p>
	</div>
</footer>

<script src="{{ '/styles/js/jquery.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/styles/js/bootstrap.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/styles/js/holder.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/styles/js/lessismore.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/styles/js/application.js' | prepend: site.baseurl }}"></script>
<script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>